* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container-header {
    background-image: url('https://i.pinimg.com/originals/ce/22/c0/ce22c0c75cefd0a9f8efb50f0e15710e.jpg');
    height: 110px;
    text-align: center;
    padding-top: 5px;
}

#container-header h2 {
    font-family: 'Lexend Exa', sans-serif;
    font-size: 40px;
    color: white;
    font-weight: normal;
    margin-bottom: 20px;
    cursor: default;
}

#container-header nav a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
}

#container-header nav a:hover {
    background-color: #a795a5;
    border-radius: 40px;
    transform: scale(1.02);
    transition: 0.3s;
}

#curiosity {
    background-color: black;
}

#areas img {
    height: 320px;
    width: 100%;
}

#curiosity h2,
#pontos-turisticos h2,
#telescopios h2,
#imagens h2 {
    color: white;
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 28px;
    text-align: center;
    padding-top: 15px;
    width: 100%;
}

#areas {
    width: 30%;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
    transition: 0.7s;
    cursor: pointer;
    box-shadow: 6px 6px 8px 8px;
}

#areas h3,
#areas-imagens h3 {
    font-family: 'Montserrat';
    font-weight: normal;
    color: white;
    margin-bottom: 15px;
    padding: 5px 0;
    font-size: 20px;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
    background-color: #a795a5;
}

.container-telescopios {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    padding: 25px;
    background-color: #a795a5;
}

.container-imagens {
    display: flex;
    flex-wrap: wrap;
    padding: 35px;
    justify-content: space-evenly;
}

#areas h3,
#areas a {
    text-align: center;
    text-decoration: none;

    border-radius: 15px;
}

section h2 {
    background-color: #3b2b46;
    padding-bottom: 15px;
}

#areas:hover {
    background-color: black;
}

.container-pontos {
    display: flex;
    flex-wrap: wrap;
}

#imagens {
    background-color: black;
}

#areas-imagens p {
    font-family: 'Montserrat';
    font-weight: normal;
    color: white;
    text-align: center;
    margin-top: 10px;
}

#areas-imagens {
    width: 40%;
    margin-bottom: 35px;
}

#areas-imagens img {
    height: 450px;
    width: 100%;
}

footer {
    background-color: rgb(54, 54, 54);
    height: 110px;
}

#container-footer {
    text-align: center;
}

#entre-contato {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat';
    height: 20px;
}

#entre-contato:hover {
    text-decoration: underline;
    transform: scale(1.1);
    transition: 0.4s;
}

.copy {
    color: white;
    font-family: 'Montserrat';
    font-style: italic;
    margin-top: 10px;
}

.midias {
    margin-top: 10px;
}

.midias a {
    text-decoration: none;
    color: white;
    font-size: 40px;
}

.midias i:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.footer a {
    margin-top: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px;
}

hr {
    margin-top: 10px;
}

